<li class="list-group-item">
  <%= form_with(model: comment, html: { class: 'form-inline' }, local: true) do |form| %>
    <%= form.text_field :body, class: 'form-control w-75', placeholder: 'Leave a comment.' %>
    <%= form.submit 'Comment', class: 'btn btn-primary w-25' %>
  <% end %>
</li>