<div class="row justify-content-center">
  <div class="col-sm-6 col-12">
    <div class="card my-2">
      <div class="card-body">
        <%= render 'comments/thread', comments: @photo.comments, highlight: nil %>
      </div>
    </div>
  </div>
</div>