<div class="row">
  <div class="col-sm-7 col-12 order-sm-1 order-2">
    <div class="row justify-content-center">
      <% [0, 1, 2, 3, 4, 5, 6, 7, 8].shuffle.each do |i| %>
        <div class="col-3 m-1 p-0">
          <%= image_tag "/images/#{i}.jpg", class: 'w-100 rounded' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-5 col-12 order-sm-2 order-1">
    <h1 class="mt-2">The friendly photo-sharing platform.</h1>
    <p>On PhotoGo, a picture is worth a thousand words, start your story here.</p>
    <div class="card my-1">
      <div class="card-body">
        <h5 class="card-title">Log In</h5>
        <%= render 'login' %>
      </div>
    </div>
  </div>
</div>