<div class="row justify-content-center">
  <div class="col-sm-6 col-12">
    <div class="card my-2">
      <div class="card-body">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>