<div class="row justify-content-center">
  <div class="col-sm-6 col-12">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">New Album</h2>
        <%= render 'form', user: current_user, album: @album %>
      </div>
    </div>
  </div>
</div>