<div class="col-4 my-2">
  <div class="card text-white">
    <%= image_tag photo.image, class: 'card-img' %>
    <div class="card-img-overlay">
      <h5 class="card-title text-white"><%= photo.title %></h5>
      <p class="card-text"><%= photo.caption %></p>
    </div>
  </div>
</div>