<div class="row justify-content-center">
  <div class="col-sm-6 col-12">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">Edit Photo</h2>
        <%= render 'form', photo: @photo %>
      </div>
    </div>
  </div>
</div>